@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body
{
    background: #212121;
    font-family: Roboto, Arial;
}
.colors
{
  position: absolute;
  left:5em;
  top:10%;
  z-index: 1;
}
.colors li
{
  float: left;
  margin: 0 10px 0 0;
  width:30px;
  height:30px;
}

.hero
{
    height: 100%;
    background: url(http://wallpoper.com/images/00/34/14/30/mountains-clouds_00341430.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.tint
{
    content: '';
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: rgba(0, 77, 100, .6);
}
.claim
{
  color:#dbdbdb;
  font-size:2.5em;
  padding: 36% 7em 0 2em;
  position: relative;

}
